<html style="direction: rtl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <style>
  

      .column {
        float: left;
      }

      /* Clear floats after the columns */
      .row {
        display: flex;
      }

      table
     {
      border: none;
        border-collapse:separate; 
        border-spacing: 0 .75em;
      }
      tbody tr {font-size: 20px;}

    </style>
  </head>
  <div id="Print">
    <div>
      <div style="padding: 15px">
        <!-- Mian Reciept Data  -->
        <div>
          <br>
          <br>
          <div style="display: flex; justify-content: center">
            <p style="text-align: center; font-size: 22px; font-weight: bold">
              فاتورة مشتريات
            </p>
          </div>
          <br>
          <br>
          <div style="display: flex; text-align: center;">
            <div style="float: right; width: 33.33%;">
                <p style="font-size: 12pt;">التاريخ: [ImportRecieptDate]</p>
            </div>
            <div style="float: right; width: 33.33%;">
                <p style="font-size: 12pt;">الوقت: [ImportRecieptTime]</p>
            </div>
            <div class="column" style="width: 33.33%;">
                <p style="font-size: 12pt;">المستخدم: [ImportRecieptUserName]</p>
            </div>
        </div>
          <br>
          <div>
            <div>
              <p style="text-align: center;font-size: 16px; font-weight: bold;">اسم المورد : [SuppLierName]</p>
            </div>
          </div>
        </div>
        <hr style="width:100%; border: 2px solid black;" >
        <br>
        <!-- Reciept Product Data  -->
        <div>
          <table style="width:100%">

            <tbody>
              <tr style="font-weight: bold;">
                <td style="text-align: center;">الصنف</td>
                <td style="text-align: center;">الكمية</td>
                <td style="text-align: center;">سعر البيع</td>
                <td style="text-align: center;">الاجمالي</td>
            </tr>
              [RecieptProducts]
            </tbody>
        </table>
        </div>
        <br>
        <hr style="width:100%; border: 2px solid black;" >
        <br>
        <!-- Reciept Finicial Data -->
        <div>
          <div style="display: flex; justify-content: center">
            <p style="text-align: center; font-size: 18px; font-weight: bold">
              حساب الفاتورة
            </p>
          </div>
          <br>
          <div style="display: flex; text-align: center;">
            <div style="float: right; width: 50%;">
                <p style="font-size: 12pt;">الاجمالي: [ImportRecieptTotal]</p>
            </div>
            <div style="float: right; width: 50%;">
                <p style="font-size: 12pt;">المبلغ المدفوع: [ImportRecieptPaid]</p>
            </div>
            <div class="column" style="width: 50%;">
              <p style="font-size: 12pt;"> الحساب الحالي للمورد : [SupplierAccount]</p>
          </div>
            <div class="column" style="width: 50%;">
                <p style="font-size: 12pt;">الحساب السابق للمورد : [ImportRecieptRemaining]</p>
            </div>
      </div>
    </div>
  </div>
  <!--<footer></footer>-->
</html>